    <!-- Page Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon-bar"></span>
                    <span class="glyphicon-bar"></span>
                    <span class="glyphicon-bar"></span>
                </button>
                <a class="navbar-brand" href="#index">Betterev</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#index">Home</a></li>
                    <li><a href="#contributions">Contributions</a></li>
                    <li><a href="#help">Help</a></li>
                    <li><a href="#contactus">Contact Us</a></li>
                    <!--  TODO amazing security -->
                    <!-- <li><a href="/admin">Admin</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <sign-in></sign-in>
                </ul>
            </div>
        </div>
    </nav>
